<div *ngIf="ricetta; else noData">
  <div class="container-detail-image">
    <img src="{{ricetta.image}}"/>
  </div>
  <div class="container-detail-text">
    <h2 class="container-detail-text-title"> {{ricetta.title}} </h2>
    <p [innerHTML]="ricetta.description"> </p>
  </div>
  <div class="container-detail-difficulty">
    <p> Difficoltà: </p>
    <img [src]="percorsoStelline + ricetta.difficulty + '.png'" class="container-detail-difficulty-image" alt="Difficoltà ricetta: {{ricetta.difficulty}}">
  </div>
  <div class="container-detail-footer">
    <p> Ricetta pubblicata il {{ricetta.date}} </p>
  </div>
</div>

<!-- Reference template -->
<ng-template #noData>
<div>
  <p> Spiacenti, ricetta non trovata! </p>
</div>
</ng-template>
