<!-- <div class="modal-body">
  <form [formGroup]="addRecipeForm" (ngSubmit)="onModalSubmit()">
		<h3> Informazioni ricetta: </h3>
    <ul class="controls-container">
      <li class="row"> <input type="text" pInputText placeholder="Titolo" formControlName="title"> </li>
      <li class="row"> <p-editor formControlName="description" [style]="{ height: '160px' }" /> </li>
      <li class="row"> <p-dropdown [options]="[0, 1, 2, 3, 4, 5]" placeholder="Seleziona una difficoltà"
        formControlName="difficulty"> </p-dropdown> </li>

      <li class="row"> <input type="text" pInputText placeholder="Immagine" formControlName="image"> </li>
    </ul>
    <button type="submit" class="btn btn-primary"> Aggiungi </button>
  </form>
</div> -->
<section>
  <form [formGroup]="form">
    <div>
      <label for="title">Titolo della ricetta:</label>
      <input type="text" id="title" name="title" class="form-control" formControlName="title" required>
    </div>
    <div>
      <label for="description">Descrizione</label>
      <textarea class="form-control description" formControlName="description"></textarea>
    </div>
    <div>
      <label for="image">Scrivi l'URL della foto</label>
      <input type="text" id="image" name="image" class="form-control" formControlName="image">
    </div>
    <div>
      <label for="title">Difficoltà</label>
      <select class="form-control select" formControlName="difficulty">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div>
      <label for="title">Pubblica la ricetta</label>
    <input type="checkbox" value="true" formControlName="published">
    </div>
    <div>
      <button type="submit" class="btn btn-primary" (click)="this.onSubmit()">INSERISCI RICETTA</button>
    </div>
  </form>
</section>

