.row-item {
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.row-icon {
  margin: 10px;
  size: 2rem;
}

.card-container {
  background-color: rgb(255, 236, 236);
  margin: 30px auto;
  border: 2px, solid, rgb(127, 11, 11);
  width: 60%;
}
