<!-- ESEMPIO UTILIZZO REACTIVE FORMS -->

<section class="vh-100 outside-container" style="background-color: #eee">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-12 external-container">
        <div class="card text-black card-container">
          <div class="row justify-content-center" style="border-radius: 25px;">
            <div class="col-md-6 col-lg-6 col-xl-6 order-2 order-lg-1">
              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"> Registrati </p>
                <form class="mx-1 mx-md-4" [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="registration-row">
                  <div class="d-flex flex-row align-items-center">
                    <i class="pi pi-user registration-row-icon"> </i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="text" id="form3Example1c" class="form-control" placeholder="nominativo" formControlName="name"/>
                      <p class="is-danger" *ngIf="!form.get('name')?.valid && form.get('name').touched">
                        Il campo nome è obbligatorio
                      </p>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center">
                    <label class="form-label" for="form3Example1c"> Il tuo nome </label>
                  </div>
                </div>

                <div class="registration-row">
                  <div class="d-flex flex-row align-items-center">
                    <i class="pi pi-envelope registration-row-icon"> </i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="email" id="form3Example3c" class="form-control" placeholder="email" formControlName="email"/>
                      <p class="is-danger" *ngIf="form.controls.email.hasError('required') && form.get('email')?.touched">
                        Il campo email è obbligatorio
                      </p>
                      <p class="is-danger" *ngIf="form.controls.email.hasError('email')">
                        Il campo email deve contenere una email valida
                      </p>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center">
                    <label class="form-label" for="form3Example1c"> La tua email </label>
                  </div>
                </div>

                <div class="registration-row">
                  <div class="d-flex flex-row align-items-center">
                    <i class="pi pi-envelope registration-row-icon"> </i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <p-password formControlName="password" [toggleMask]="true" (change)="onPasswordChange(form.get('password').value)"
                      strongRegex="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){6,16}$" class="form-control"/>
                      <p class="is-danger" *ngIf="form.controls.password.hasError('required') && form.get('password')?.touched">
                        Il campo password è obbligatorio
                      </p>
                      <p class="is-danger" *ngIf="form.controls.password.hasError('pattern')">
                      Il campo password deve contenere almeno: un numero, una maiuscola, un carattere speciale, un minimo di 6 caratteri
                      ed un massimo di 15 caratteri
                      </p>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center">
                    <label class="form-label" for="form3Example1c"> La tua password </label>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <div data-mdb-input-init class="form-outline flex-fill mb-0">
                    <input type="password" id="form3Example4cd" class="form-control" name="ripetiPassword" formControlName="ripetiPassword"/>
                    <label class="form-label" for="form3Example4cd"> Ripeti Password </label>
                    <p class="is-danger" *ngIf="!form.get('ripetiPassword')?.valid && form.get('ripetiPassword').touched">
                      Il campo di conferma è obbligatorio
                    </p>
                    <p class="is-danger" *ngIf="!(form.get('ripetiPassword').value == password)">
                      Le password non combaciano
                    </p>
                  </div>
                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" name="accetto"
                  formControlName="accetto"/>
                  <label class="form-check-label" for="form2Example3">
                    Dichiaro di accettare i <a href="#!"> Termini del servizio </a>
                  </label>
                </div>
                <p class="is-danger" *ngIf="!form.get('accetto')?.valid && form.get('accetto').touched">
                  È obbligatorio aderire ai Termini di Servizio
                </p>

                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                  <button [disabled]="!form.valid || (form.get('password').value != form.get('ripetiPassword').value)"
                  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"> Registrati </button>
                  <!-- Metodo sporco, è meglio fare un metodo di controllo singolo del form -->
                </div>
              </form>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 d-flex align-items-center order-1 order-lg-2 col-image-container"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
